.Wrapper {
   margin-left: 0px;
   .Sidebar-Active & {
      margin-left: var(--ui-sidebar-width);
      @media (max-width: 767.98px) {
         margin-left: 0;
      }
   }
}
.Sidebar-Backdrop {
   position: fixed;
   top: 0;
   z-index: 1030;
   width: 100vw;
   height: 100vh;
   background-color: #000015;
   opacity: 0.5;
}
